html,
body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  background-color: rgba(234, 228, 228, 0.378);
}
/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(42, 41, 41);
  padding: 0.8rem 2rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: rgb(169, 58, 17);
}

/* General style classes for all sections, category and featured products */
.container {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  font-size: 1.5rem;
}

/* Categories section */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.grid-item {
  border-radius: 0.4rem;
  padding: 0.85rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
  cursor: pointer;
}

.grid-item img {
  margin-top: 1rem;
  border-radius: 0.4rem;
}

.grid-item h3 {
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
}

/* Featured Products */
.product-item {
  border-radius: 0.4rem;
  padding: 0.7rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
  cursor: pointer;
}

.product-item img {
  border-radius: 0.4rem;
}

.product-item h3 {
  margin: 0;
  text-align: center;
  font-size: 0.85rem;
}
.product-item p {
  text-align: center;
  font-size: 0.7rem;
  color: rgb(243, 63, 63);
  font-weight: 600;
}

/* Hero Section */
.hero {
  background-color: rgb(212, 125, 140);
  padding: 3rem;
  color: white;
}

.hero h2 {
  font-size: 2rem;
  text-shadow: 1px 1px 1px #000;
}
.hero p {
  text-shadow: 1px 1px 1px #000;
}

.hero button {
  padding: 0.6rem 1rem;
  background-color: rgb(42, 41, 41);
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  transition: color 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero button:hover {
  background-color: green;
}

.category,
.featured-products,
.testimonials {
  padding: 3rem;
}

/* Testimonials */

.testimonials {
  background-color: rgb(50, 50, 50);
  color: rgb(237, 234, 234);
}

.testimonial-flex {
  display: flex;
  gap: 1.5rem;
}

.testimonial-item {
  padding: 1rem;
  background-color: #4b4d4f;
  border-radius: 0.4rem;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.testimonial-item blockquote {
  font-size: 0.8rem;
  font-weight: 600;
  font-style: italic;
}

.testimonial-item p {
  font-size: 0.7rem;
  color: rgb(202, 64, 14);
  font-weight: 600;
}

/* footer */
footer {
  background-color: rgb(42, 41, 41);
  color: rgb(203, 195, 195);
  font-size: 0.8rem;
  padding: 0.2rem;
}

footer p {
  margin: 0;
  padding: 0.6rem;
  text-align: center;
}

/* Medium size devices */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem;
  }
}

/* small devices */

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 2rem;
  }
}
